@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
}


.Loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.834);
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}